<h1>Hi there!</h1>
<h3>You have new order</h3>
<h4>Order info:</h4>
<p>First Name - <%= firstname %></p>
<p>Last Name - <%= lastname %></p>
<p>Phone - <%= phone %></p>
<p>Email - <%= email %></p>
<p>Product - <%= product %></p>
<p>Order ID - <%= orderID %></p>
<p>Order date - <%= date %></p>